# Default
models_temp/** # Ignore temporary model files (moved higher)
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
back/**
caret-docs/**
cline/**
docs/** 
experiment/**
locales/** 
**/node_modules/**
private-cline/**
release/**
scripts/**
sllm-servers/**
test/**
**/src/**


.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
**/test/**
**/*.map
**/README.md
**/docs/**
**/.git/**


# Custom
demo.gif
.nvmrc
.gitattributes
.prettierignore

# Development/Repo specific folders
caret-upstream/**
cline/**
models_backup/**
sllm/**
experiment/**
.changeset/**
.github/**
.husky/**
cline/**
private-cline/**
docs/**
caret-docs/**
release/**

# Temporary / Backup files
*.bak
*.patch
*.vsix

# Ignore all webview-ui files except the build directory (https://github.com/microsoft/vscode-webview-ui-toolkit-samples/blob/main/frameworks/hello-world-react-cra/.vscodeignore)
webview-ui/src/**
webview-ui/public/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
**/.gitignore

# Ignore docs
docs/**

# Fix issue where codicons don't get packaged (https://github.com/microsoft/vscode-extension-samples/issues/692)
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

# Include default themes JSON files used in getTheme
!src/integrations/theme/default-themes/**

# Include icons
!assets/icons/**

# Include agent images
!assets/*.png
!assets/agent_*.png
!assets/default_*.png
!assets/template_characters/**

# Include banner images
!assets/imgs/**

#
sllm-servers/** */

**/.venv/**
